@import "tailwindcss";

@font-face {
    font-family: ABCRepro;
    font-style: normal;
    font-weight: 200 700;
    font-display: swap;
    src: url("/fonts/ABCRepro-Medium-Trial.woff") format("woff");
}

@theme {
    --font-sans: "ABCRepro", "sans-serif";
}
